// COLORS
$header-color-primary: rgba(175, 47, 47, 0.15);

$input-color-incorrect: #ffc9c9;
$input-color-correct: #f1f3f5;

$default-font-color: #4d4d4d;

$body-background-color: #f1f3f5;

// FONTS, FONTS_SIZE
$header-font-size: 64px;

$default-font: "Helvetica Neue", sans-serif;

// BASIC PADDING
$default-padding: 14px;
