@import "../../styles/abstracts/variables";

.input-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.todo-input {
  border: none;
  background-color: $input-background-color;
  border-bottom: 1px solid $input-color-border-bottom;
  width: 100%;
  padding: 12px 18px;
  font-size: 26px;
  color: inherit;
  letter-spacing: 0.8px;
  &:focus {
    outline: none;
  }
  &__correct::placeholder {
    color: $input-placeholder-color-correct;
  }
  &__incorrect::placeholder {
    color: $input-placeholder-color-incorrect;
  }
}
