<form [formGroup]="inputForm" (ngSubmit)="onSubmit()" class="input-form">
  <input
    [class]="[
      'todo-input',
      !inputForm.get('text')?.valid && inputForm.get('text')?.touched
        ? 'todo-input__incorrect'
        : 'todo-input__correct'
    ]"
    type="text"
    id="todoTask"
    formControlName="text"
    [placeholder]="
      !inputForm.get('text')?.valid && inputForm.get('text')?.touched
        ? 'Please enter a valid task!'
        : 'What needs to be done...'
    "
    required
  />
</form>
